body{
  background-color: rgb(27, 53, 11);
}
.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 10px  0px;
}

.title {
  color: rgb(189, 245, 189);
  font-size: 38px;
  font-weight: 400;

}

.notes {
  max-width: 120px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, minmmax(300px, 1fr));
}